<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stars</title>
</head>
<body>
  <h1>Stars</h1>
  
  <ul>
    {% for item in collections.feedbinStars %}
      <li>
        <article>
          <h2><a href="{{ item.link }}" rel="noopener">{{ item.title }}</a></h2>
          <p>{{ item.meta.host }}</p>
        </article>
      </li>
    {% endfor %}
  </ul>
</body>
</html>

